.pricing-thumb {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .pricing-title-wrap,
  .pricing-body {
    padding: 40px;
  }
  
  .pricing-title-wrap {
    background: var(--navbar-bg-color);
    padding: 20px 40px;
  }
  
  .pricing-title {
    color: var(--white-color);
  }
  
  .duration-icon {
    color: #3498db; /* Change to your desired icon color */
    margin-right: 5px;
  }
  
  .start-date-icon {
    color: #e74c3c; /* Change to your desired icon color */
    margin-right: 5px;
  }
  
  .course-details {
    margin-top: 10px;
  }
  
  